<?xml version='1.0' standalone='yes'?>
<preferences>
<preference version="1" name="cot_inputs">
<entry key="compress7" class="class java.lang.Boolean">false</entry>
<entry key="compress6" class="class java.lang.Boolean">false</entry>
<entry key="compress8" class="class java.lang.Boolean">false</entry>
<entry key="compress3" class="class java.lang.Boolean">false</entry>
<entry key="compress2" class="class java.lang.Boolean">false</entry>
<entry key="compress5" class="class java.lang.Boolean">false</entry>
<entry key="compress4" class="class java.lang.Boolean">false</entry>
<entry key="count" class="class java.lang.Integer">9</entry>
<entry key="useAuth7" class="class java.lang.Boolean">false</entry>
<entry key="useAuth8" class="class java.lang.Boolean">false</entry>
<entry key="useAuth1" class="class java.lang.Boolean">false</entry>
<entry key="useAuth2" class="class java.lang.Boolean">false</entry>
<entry key="compress1" class="class java.lang.Boolean">false</entry>
<entry key="compress0" class="class java.lang.Boolean">false</entry>
<entry key="useAuth0" class="class java.lang.Boolean">false</entry>
<entry key="useAuth5" class="class java.lang.Boolean">false</entry>
<entry key="useAuth6" class="class java.lang.Boolean">false</entry>
<entry key="useAuth3" class="class java.lang.Boolean">false</entry>
<entry key="useAuth4" class="class java.lang.Boolean">false</entry>
<entry key="connectString1" class="class java.lang.String">0.0.0.0:4242:tcp</entry>
<entry key="description6" class="class java.lang.String">route_management</entry>
<entry key="connectString2" class="class java.lang.String">239.2.3.1:6969:udp</entry>
<entry key="description7" class="class java.lang.String">request.notify</entry>
<entry key="description4" class="class java.lang.String">PRC-152</entry>
<entry key="cacheCreds7" class="class java.lang.String"></entry>
<entry key="connectString0" class="class java.lang.String">0.0.0.0:4242:udp</entry>
<entry key="description5" class="class java.lang.String">Wave Relay SA Multicast</entry>
<entry key="cacheCreds6" class="class java.lang.String"></entry>
<entry key="description8" class="class java.lang.String">Chat input</entry>
<entry key="connectString7" class="class java.lang.String">0.0.0.0:8087:tcp</entry>
<entry key="connectString8" class="class java.lang.String">224.10.10.1:17012:udp</entry>
<entry key="description2" class="class java.lang.String">SA Multicast</entry>
<entry key="connectString5" class="class java.lang.String">239.23.212.230:18999:udp</entry>
<entry key="description3" class="class java.lang.String">SA Multicast: Sensor Data</entry>
<entry key="connectString6" class="class java.lang.String">0.0.0.0:8087:udp</entry>
<entry key="description0" class="class java.lang.String">Default</entry>
<entry key="connectString3" class="class java.lang.String">239.5.5.55:7171:udp</entry>
<entry key="description1" class="class java.lang.String">Default TCP</entry>
<entry key="connectString4" class="class java.lang.String">0.0.0.0:10011:udp</entry>
<entry key="enrollForCertificateWithTrust8" class="class java.lang.Boolean">false</entry>
<entry key="enrollForCertificateWithTrust7" class="class java.lang.Boolean">false</entry>
<entry key="enrollForCertificateWithTrust6" class="class java.lang.Boolean">false</entry>
<entry key="enrollForCertificateWithTrust5" class="class java.lang.Boolean">false</entry>
<entry key="enrollForCertificateWithTrust4" class="class java.lang.Boolean">false</entry>
<entry key="enrollForCertificateWithTrust3" class="class java.lang.Boolean">false</entry>
<entry key="enrollForCertificateWithTrust2" class="class java.lang.Boolean">false</entry>
<entry key="enrollForCertificateWithTrust1" class="class java.lang.Boolean">false</entry>
<entry key="enrollForCertificateWithTrust0" class="class java.lang.Boolean">false</entry>
<entry key="enabled0" class="class java.lang.Boolean">true</entry>
<entry key="enabled2" class="class java.lang.Boolean">true</entry>
<entry key="enabled1" class="class java.lang.Boolean">true</entry>
<entry key="enabled4" class="class java.lang.Boolean">true</entry>
<entry key="enabled3" class="class java.lang.Boolean">false</entry>
<entry key="enabled6" class="class java.lang.Boolean">true</entry>
<entry key="enabled5" class="class java.lang.Boolean">true</entry>
<entry key="enabled8" class="class java.lang.Boolean">true</entry>
<entry key="enabled7" class="class java.lang.Boolean">true</entry>
</preference>
<preference version="1" name="cot_outputs">
<entry key="connectString0" class="class java.lang.String">239.2.3.1:6969:udp</entry>
<entry key="count" class="class java.lang.Integer">1</entry>
<entry key="compress0" class="class java.lang.Boolean">false</entry>
<entry key="useAuth0" class="class java.lang.Boolean">false</entry>
<entry key="enrollForCertificateWithTrust0" class="class java.lang.Boolean">false</entry>
<entry key="enabled0" class="class java.lang.Boolean">true</entry>
<entry key="description0" class="class java.lang.String">SA Multicast</entry>
</preference>
<preference version="1" name="cot_streams">
<entry key="connectString0" class="class java.lang.String">{{ takserver_0 }}</entry>
<entry key="count" class="class java.lang.Integer">1</entry>
<entry key="compress0" class="class java.lang.Boolean">false</entry>
<entry key="useAuth0" class="class java.lang.Boolean">true</entry>
<entry key="cacheCreds0" class="class java.lang.String">Cache credentials</entry>
<entry key="enrollForCertificateWithTrust0" class="class java.lang.Boolean">false</entry>
<entry key="enabled0" class="class java.lang.Boolean">true</entry>
<entry key="description0" class="class java.lang.String">{{ takserver0_name }}</entry>
</preference>
<preference version="1" name="com.atakmap.app_preferences">
<entry key="prefs_layer_grg_map_interaction" class="class java.lang.Boolean">true</entry>
<entry key="onscreen3Dcontrols" class="class java.lang.Boolean">false</entry>
<entry key="saSipAddress" class="class java.lang.String">{{ item.0 }}@{{ waveserver }}</entry>
<entry key="atakControlOtherUserNotification" class="class java.lang.Boolean">true</entry>
<entry key="waveUseTakServerCreds" class="class java.lang.Boolean">false</entry>
<entry key="hostileUpdateDelay" class="class java.lang.String">60</entry>
<entry key="locationUseWRCallsign" class="class java.lang.Boolean">false</entry>
<entry key="dynamicReportingRateMinUnreliable" class="class java.lang.String">20</entry>
<entry key="atak.hint.textContainer.osd" class="class java.lang.Boolean">false</entry>
<entry key="atakPluginScanningOnStartup" class="class java.lang.Boolean">true</entry>
<entry key="wms_deployed" class="class java.lang.Boolean">true</entry>
<entry key="contact.connector.default.ANDROID-358512072021530" class="class java.lang.String">connector.xmpp</entry>
<entry key="relativeOverlaysScalingRadioList" class="class java.lang.String">1.0</entry>
<entry key="filesharingEnabled" class="class java.lang.Boolean">true</entry>
<entry key="shape_fill_alpha" class="class java.lang.Integer">31</entry>
<entry key="clearingContent" class="class java.lang.Boolean">false</entry>
<entry key="bread_track_timegap_threshold" class="class java.lang.String">10</entry>
<entry key="shouldLoad-com.atakmap.android.targetworkflow.plugin" class="class java.lang.Boolean">true</entry>
<entry key="dispatchLocationHidden" class="class java.lang.Boolean">true</entry>
<entry key="atak.hint.datasync.timelineView2" class="class java.lang.Boolean">false</entry>
<entry key="datasyncDisplayPublishPrompt" class="class java.lang.Boolean">false</entry>
<entry key="Native-transparency.value0" class="class java.lang.Float">1.0</entry>
<entry key="Native-transparency.value1" class="class java.lang.Float">1.0</entry>
<entry key="iconset.display.hint2" class="class java.lang.Boolean">false</entry>
<entry key="track_crumb_size" class="class java.lang.String">10</entry>
<entry key="num-mobile-type-coverage-colors" class="class java.lang.Integer">3</entry>
<entry key="atakControlForcePortrait" class="class java.lang.Boolean">false</entry>
<entry key="Native-visibility.value0" class="class java.lang.Boolean">true</entry>
<entry key="strokeWeight" class="class java.lang.Float">2.3</entry>
<entry key="pluginSafeMode" class="class java.lang.Boolean">false</entry>
<entry key="Native-visibility.value1" class="class java.lang.Boolean">true</entry>
<entry key="waveConnectionEnabled" class="class java.lang.Boolean">true</entry>
<entry key="waypointOffRouteBubble.Swimming" class="class java.lang.String">10</entry>
<entry key="useGPSTime" class="class java.lang.Boolean">true</entry>
<entry key="num-Native-type-visibility" class="class java.lang.Integer">2</entry>
<entry key="atak.hint.track.export.hint" class="class java.lang.Boolean">false</entry>
<entry key="bread_dist_threshold" class="class java.lang.String">5</entry>
<entry key="takchatUseTakServerCreds" class="class java.lang.Boolean">false</entry>
<entry key="repoSyncedVersion" class="class java.lang.Integer">45834</entry>
<entry key="mobile-type-coverage-visible1" class="class java.lang.Boolean">false</entry>
<entry key="contact.connector.lastused.All Chat Roomsconnector.geochat" class="class java.lang.Long">1576624389536</entry>
<entry key="mobile-type-coverage-visible2" class="class java.lang.Boolean">false</entry>
<entry key="waypointBubble.Swimming" class="class java.lang.String">10</entry>
<entry key="mobile-type-coverage-visible0" class="class java.lang.Boolean">false</entry>
<entry key="filesharingConnectionTimeoutSecs" class="class java.lang.String">10</entry>
<entry key="shouldLoad-com.atakmap.android.wave.plugin" class="class java.lang.Boolean">true</entry>
<entry key="Mobile-transparency.type12" class="class java.lang.String">NRL Open Street Map</entry>
<entry key="dim_map_with_brightness_key" class="class java.lang.Boolean">false</entry>
<entry key="Mobile-transparency.type10" class="class java.lang.String">NRL DRG Mosaic</entry>
<entry key="fileshareDownloadAttempts" class="class java.lang.String">10</entry>
<entry key="Mobile-transparency.type11" class="class java.lang.String">NRL FAA World Aeronautical Charts</entry>
<entry key="Mobile-transparency.value6" class="class java.lang.Float">1.0</entry>
<entry key="coordview.formattedMGRS" class="class java.lang.Boolean">true</entry>
<entry key="Mobile-transparency.value7" class="class java.lang.Float">1.0</entry>
<entry key="Mobile-transparency.value8" class="class java.lang.Float">1.0</entry>
<entry key="Mobile-visibility.value10" class="class java.lang.Boolean">true</entry>
<entry key="imagery_tab_name" class="class java.lang.String">Imagery</entry>
<entry key="Mobile-transparency.value9" class="class java.lang.Float">1.0</entry>
<entry key="contact.connector.lastused.ANDROID-357810080828925connector.geochat" class="class java.lang.Long">1573961275057</entry>
<entry key="contact.connector.default.All Chat Rooms" class="class java.lang.String">connector.geochat</entry>
<entry key="Mobile-transparency.value0" class="class java.lang.Float">1.0</entry>
<entry key="Mobile-transparency.value1" class="class java.lang.Float">1.0</entry>
<entry key="Mobile-transparency.value2" class="class java.lang.Float">1.0</entry>
<entry key="location_marker_scale_key" class="class java.lang.String">-1</entry>
<entry key="Mobile-transparency.value3" class="class java.lang.Float">1.0</entry>
<entry key="atak.hint.takchat.profileOffer" class="class java.lang.Boolean">false</entry>
<entry key="Mobile-transparency.value4" class="class java.lang.Float">1.0</entry>
<entry key="Mobile-transparency.value5" class="class java.lang.Float">1.0</entry>
<entry key="atakControlBluetooth" class="class java.lang.Boolean">false</entry>
<entry key="shouldLoad-com.atakmap.android.QuickChat.plugin" class="class java.lang.Boolean">true</entry>
<entry key="num-Mobile-type-visibility" class="class java.lang.Integer">13</entry>
<entry key="dh_data_row_1" class="class java.lang.String">Bearing to Next</entry>
<entry key="dh_data_row_2" class="class java.lang.String">Distance to Next</entry>
<entry key="mobile-type-coverage-color2" class="class java.lang.Integer">-16711936</entry>
<entry key="atakControlReverseOrientation" class="class java.lang.Boolean">false</entry>
<entry key="dh_data_row_0" class="class java.lang.String">Turnpoint ID</entry>
<entry key="contact.connector.lastused.ANDROID-358512072021530connector.xmpp" class="class java.lang.Long">1573967780326</entry>
<entry key="mobile-type-coverage-color1" class="class java.lang.Integer">-16711936</entry>
<entry key="mobile-type-coverage-color0" class="class java.lang.Integer">-16711936</entry>
<entry key="tcpConnectTimeout" class="class java.lang.String">20</entry>
<entry key="repoRemoteServerLastTimeMillis" class="class java.lang.Long">1573962154342</entry>
<entry key="contact.connector.default.xmpp.4bn3rdsfg@conference.openfire.sompe.local" class="class java.lang.String">connector.xmpp</entry>
<entry key="elevProfileInterpolateAlt" class="class java.lang.Boolean">true</entry>
<entry key="track_line_to_surface" class="class java.lang.Boolean">false</entry>
<entry key="Mobile-visibility.value12" class="class java.lang.Boolean">true</entry>
<entry key="Mobile-visibility.value11" class="class java.lang.Boolean">true</entry>
<entry key="repoRemoteServerLastReason" class="class java.lang.String">HTTP operation failed: 404</entry>
<entry key="acra.lastVersionNr" class="class java.lang.Integer">45834</entry>
<entry key="waypointBubble.Walking" class="class java.lang.String">10</entry>
<entry key="filesharingTransferTimeoutSecs" class="class java.lang.String">15</entry>
<entry key="contour_prefs_interval" class="class java.lang.Integer">20</entry>
<entry key="saHasPhoneNumber" class="class java.lang.Boolean">true</entry>
<entry key="takchatEnabled" class="class java.lang.Boolean">true</entry>
<entry key="plugin.version.loaded.Track Export" class="class java.lang.String">1568048468</entry>
<entry key="legacyFiresToolbarMode" class="class java.lang.Boolean">false</entry>
<entry key="lastViewedLayer.active" class="class java.lang.String">Mobile</entry>
<entry key="atakKeyGuard" class="class java.lang.Boolean">false</entry>
<entry key="contact.connector.default.ANDROID-358512072020649" class="class java.lang.String">connector.xmpp</entry>
<entry key="track_infinite" class="class java.lang.Boolean">false</entry>
<entry key="volumemapswitcher" class="class java.lang.Boolean">false</entry>
<entry key="waveProfileId" class="class java.lang.String">{C16B0C6A-21FB-4F61-A021-A79E8A98AA17}</entry>
<entry key="waypointBubble.Flying" class="class java.lang.String">1000</entry>
<entry key="contact.connector.default.ANDROID-357810080828768" class="class java.lang.String">connector.telephone</entry>
<entry key="ppp0_highspeed_capable" class="class java.lang.Boolean">false</entry>
<entry key="track_csv_export_headers" class="class java.lang.Boolean">true</entry>
<entry key="status_3d_enabled" class="class java.lang.Boolean">false</entry>
<entry key="faux_nav_bar" class="class java.lang.Boolean">false</entry>
<entry key="plugin.version.loaded.Compass Nav" class="class java.lang.String">1567817523</entry>
<entry key="takchatShowOffline" class="class java.lang.Boolean">true</entry>
<entry key="atak.hint.datasync.mission.removalprompt" class="class java.lang.Boolean">false</entry>
<entry key="contact.connector.lastused.ANDROID-357810080828925connector.telephone" class="class java.lang.Long">1573961101657</entry>
<entry key="repoStartupSync" class="class java.lang.Boolean">false</entry>
<entry key="constantReportingRateReliable" class="class java.lang.String">15</entry>
<entry key="iconset.default.loaded.version" class="class java.lang.String">45834</entry>
<entry key="native-type-coverage-type0" class="class java.lang.String">NGA Least Cloud Cover</entry>
<entry key="mobile.show_all_offline" class="class java.lang.Boolean">true</entry>
<entry key="contact.connector.lastused.ANDROID-357810080828925connector.sms" class="class java.lang.Long">1573961040754</entry>
<entry key="contact.connector.default.11" class="class java.lang.String">connector.voip</entry>
<entry key="native-type-coverage-type1" class="class java.lang.String">NGA Most Current</entry>
<entry key="displayServerConnectionWidget" class="class java.lang.Boolean">false</entry>
<entry key="waveShowOffline" class="class java.lang.Boolean">false</entry>
<entry key="contact.connector.lastused.ANDROID-358512072017975connector.xmpp" class="class java.lang.Long">1573966408318</entry>
<entry key="plugin.version.loaded.Point Mensuration Tool" class="class java.lang.String">45834</entry>
<entry key="apiUnsecureServerPort" class="class java.lang.String">8080</entry>
<entry key="contact.connector.default.ANDROID-R52M20SL0QR" class="class java.lang.String">connector.geochat</entry>
<entry key="repoLastSyncTime" class="class java.lang.Long">1573962156884</entry>
<entry key="msdred.screen" class="class java.lang.Integer">0</entry>
<entry key="lastRecordedLocation" class="class java.lang.String">35.223367,-77.642947,-37.69226606863778</entry>
<entry key="udpNoDataTimeout" class="class java.lang.String">30</entry>
<entry key="kmlExportCheckpointMode" class="class java.lang.String">Both</entry>
<entry key="MobileLayerSelectionAdapter.isOfflineOnly" class="class java.lang.Boolean">true</entry>
<entry key="native-type-coverage-color0" class="class java.lang.Integer">-8454017</entry>
<entry key="track_prefix" class="class java.lang.String">track_</entry>
<entry key="collect_metrics" class="class java.lang.Boolean">false</entry>
<entry key="num-GRG rasters-type-visibility" class="class java.lang.Integer">0</entry>
<entry key="native-type-coverage-color1" class="class java.lang.Integer">-16711681</entry>
<entry key="default_gps_icon" class="class java.lang.Boolean">true</entry>
<entry key="quick_reply_list" class="class java.util.HashSet">[Acknowledged]</entry>
<entry key="dispatchLocationCotExternalAtStart" class="class java.lang.Boolean">true</entry>
<entry key="atakAdjustCurvedDisplay" class="class java.lang.Boolean">false</entry>
<entry key="waypointOffRouteBubble.Flying" class="class java.lang.String">1000</entry>
<entry key="Native-transparency.type1" class="class java.lang.String">NGA Most Current</entry>
<entry key="Native-transparency.type0" class="class java.lang.String">NGA Least Cloud Cover</entry>
<entry key="atakControlShortenLabels" class="class java.lang.Boolean">false</entry>
<entry key="waypointOffRouteBubble.Walking" class="class java.lang.String">10</entry>
<entry key="filesharingWebServerPort" class="class java.lang.String">8080</entry>
<entry key="atak.hint.datasync.serverRequired" class="class java.lang.Boolean">false</entry>
<entry key="shape_color" class="class java.lang.Integer">-16744704</entry>
<entry key="status_mapmode_heading_value" class="class java.lang.String">0.0</entry>
<entry key="dynamicReportingRateMaxReliable" class="class java.lang.String">2</entry>
<entry key="QXRha0NlcnRpZmljYXRlRGF0YWJhc2U=" class="class java.lang.String">1f32741f-661c-4187-8286-6a646bc7a74f</entry>
<entry key="atakControlShowLabels" class="class java.lang.Boolean">true</entry>
<entry key="datasyncDisplayMissionTimeline" class="class java.lang.Boolean">true</entry>
<entry key="takchatServerConfPrefix" class="class java.lang.String">conference</entry>
<entry key="appMgmtEnableUpdateServer" class="class java.lang.Boolean">true</entry>
<entry key="atakForcedBrightness" class="class java.lang.String">-1</entry>
<entry key="Native-visibility.type0" class="class java.lang.String">NGA Least Cloud Cover</entry>
<entry key="Native-visibility.type1" class="class java.lang.String">NGA Most Current</entry>
<entry key="Mobile-transparency.value12" class="class java.lang.Float">1.0</entry>
<entry key="Mobile-transparency.value11" class="class java.lang.Float">1.0</entry>
<entry key="Mobile-transparency.value10" class="class java.lang.Float">1.0</entry>
<entry key="num-grgs-type-coverage-colors" class="class java.lang.Integer">0</entry>
<entry key="waypointOffRouteBubble.Driving" class="class java.lang.String">20</entry>
<entry key="deviceProfileEnableOnConnect" class="class java.lang.Boolean">false</entry>
<entry key="Mobile-visibility.value8" class="class java.lang.Boolean">true</entry>
<entry key="contact.connector.lastused.ANDROID-357810080828768connector.telephone" class="class java.lang.Long">1579730282019</entry>
<entry key="Mobile-visibility.value9" class="class java.lang.Boolean">true</entry>
<entry key="label_text_size" class="class java.lang.String">14</entry>
<entry key="toggle_rotate_track_colors" class="class java.lang.Boolean">true</entry>
<entry key="Mobile-visibility.value0" class="class java.lang.Boolean">true</entry>
<entry key="Mobile-visibility.value1" class="class java.lang.Boolean">true</entry>
<entry key="Mobile-visibility.value2" class="class java.lang.Boolean">true</entry>
<entry key="detail.enlarged" class="class java.lang.Boolean">true</entry>
<entry key="Mobile-visibility.value3" class="class java.lang.Boolean">true</entry>
<entry key="apiCertEnrollmentPort" class="class java.lang.String">8446</entry>
<entry key="Mobile-visibility.value4" class="class java.lang.Boolean">true</entry>
<entry key="listenPort" class="class java.lang.String">4349</entry>
<entry key="Mobile-visibility.value5" class="class java.lang.Boolean">true</entry>
<entry key="textContainer.textShowing" class="class java.lang.Boolean">true</entry>
<entry key="Mobile-visibility.value6" class="class java.lang.Boolean">true</entry>
<entry key="route_track_up_locked_on" class="class java.lang.Boolean">true</entry>
<entry key="Mobile-visibility.value7" class="class java.lang.Boolean">true</entry>
<entry key="filesharingAllServers" class="class java.lang.Boolean">false</entry>
<entry key="realtime_metrics" class="class java.lang.Boolean">false</entry>
<entry key="map_scale_rounding" class="class java.lang.Boolean">false</entry>
<entry key="shouldLoad-com.atakmap.android.compassnav.plugin" class="class java.lang.Boolean">true</entry>
<entry key="iconset.selected.uid" class="class java.lang.String">COT_MAPPING_2525B</entry>
<entry key="contact.connector.lastused.11connector.voip" class="class java.lang.Long">1574003821095</entry>
<entry key="contact.connector.lastused.xmpp.4bn3rdsfg@conference.openfire.sompe.localconnector.xmpp" class="class java.lang.Long">1576624311500</entry>
<entry key="prefs_dted_color_intensity" class="class java.lang.String">16</entry>
<entry key="shouldLoad-com.atakmap.android.trackexport.plugin" class="class java.lang.Boolean">true</entry>
<entry key="status_mapmode" class="class java.lang.String">2</entry>
<entry key="atakScreenLock" class="class java.lang.Boolean">false</entry>
<entry key="document_version" class="class java.lang.String">mil3120a</entry>
<entry key="map_center_designator" class="class java.lang.Boolean">true</entry>
<entry key="waveRelayInputCreated" class="class java.lang.Boolean">true</entry>
<entry key="num-native-type-coverage-colors" class="class java.lang.Integer">2</entry>
<entry key="savePrefs" class="class java.lang.String">{{ item.0 }}</entry>
<entry key="atak.hint.iconset" class="class java.lang.Boolean">false</entry>
<entry key="Mobile-visibility.type11" class="class java.lang.String">NRL FAA World Aeronautical Charts</entry>
<entry key="Mobile-visibility.type10" class="class java.lang.String">NRL DRG Mosaic</entry>
<entry key="atakGlobeModeEnabled" class="class java.lang.Boolean">false</entry>
<entry key="useRouteVoiceCues" class="class java.lang.Boolean">true</entry>
<entry key="com.atakmap.android.routes.nav.RerouteDialog.is_reroute_active" class="class java.lang.Boolean">false</entry>
<entry key="Mobile-visibility.type12" class="class java.lang.String">NRL Open Street Map</entry>
<entry key="track_kml_export_timestamps" class="class java.lang.Boolean">true</entry>
<entry key="certEnrollmentExport" class="class java.lang.Boolean">false</entry>
<entry key="coordview.formattedUTM" class="class java.lang.Boolean">true</entry>
<entry key="Mobile-transparency.type0" class="class java.lang.String">NGA Most Aesthetic</entry>
<entry key="takchatServerPort" class="class java.lang.String">{{ takchat_custom_port }}</entry>
<entry key="Mobile-transparency.type1" class="class java.lang.String">NOAA_RNC on RNC_NOAA_RNC</entry>
<entry key="Mobile-transparency.type2" class="class java.lang.String">USGSImageryOnly</entry>
<entry key="track_last_color" class="class java.lang.Integer">-32768</entry>
<entry key="takchatCustomHost" class="class java.lang.String">{{ takchat_custom_host }}</entry>
<entry key="Mobile-transparency.type3" class="class java.lang.String">NRL NAIP (CONUS)</entry>
<entry key="Mobile-transparency.type4" class="class java.lang.String">NGA Most Current</entry>
<entry key="elevProfileCenterOnSeeker" class="class java.lang.Boolean">true</entry>
<entry key="filesharingSizeThresholdNoGo" class="class java.lang.String">20</entry>
<entry key="locationTeam" class="class java.lang.String">Green</entry>
<entry key="atak.hint.plugin.wave.volumehint" class="class java.lang.Boolean">false</entry>
<entry key="largeTextMode" class="class java.lang.Boolean">false</entry>
<entry key="repoRemoteServerLastStatus" class="class java.lang.Boolean">true</entry>
<entry key="screenViewLon" class="class java.lang.String">-76.75417662315537</entry>
<entry key="dynamicReportingRateMaxUnreliable" class="class java.lang.String">2</entry>
<entry key="Mobile-transparency.type5" class="class java.lang.String">NRL FAA Sectionals</entry>
<entry key="Mobile-transparency.type6" class="class java.lang.String">NRL DRG</entry>
<entry key="screenViewMapScale" class="class java.lang.String">3.4564569733217904E-7</entry>
<entry key="mockingOption" class="class java.lang.String">WRGPS</entry>
<entry key="Mobile-transparency.type7" class="class java.lang.String">NGA Least Cloud Cover</entry>
<entry key="Mobile-transparency.type8" class="class java.lang.String">USGSImageryTopo</entry>
<entry key="Mobile-transparency.type9" class="class java.lang.String">NRL FAA Terminal Area Chart</entry>
<entry key="plugin.version.loaded.WAVE" class="class java.lang.String">1568048493</entry>
<entry key="plugin.version.loaded.Data Sync" class="class java.lang.String">1567817537</entry>
<entry key="contact.connector.default.ANDROID-358512072017652" class="class java.lang.String">connector.xmpp</entry>
<entry key="takchatAudibleNotifyBuddy" class="class java.lang.Boolean">true</entry>
<entry key="multicastTTL" class="class java.lang.String">64</entry>
<entry key="waypointPrefix" class="class java.lang.String">CP</entry>
<entry key="atak.hint.datasync.mission.publishprompt" class="class java.lang.Boolean">false</entry>
<entry key="waypointBubble.Driving" class="class java.lang.String">20</entry>
<entry key="autoDisableMeshSAWhenStreaming" class="class java.lang.Boolean">false</entry>
<entry key="numKmEntryRadiusComparison" class="class java.lang.Integer">75</entry>
<entry key="takchatRequireSSL" class="class java.lang.Boolean">true</entry>
<entry key="plugin.version.loaded.TAK Chat" class="class java.lang.String">1568048463</entry>
<entry key="ChatModeCount" class="class java.lang.Integer">8</entry>
<entry key="atak.hint.plugin.wave.channellongpress" class="class java.lang.Boolean">false</entry>
<entry key="screenViewMapTilt" class="class java.lang.String">0.0</entry>
<entry key="spiUpdateDelay" class="class java.lang.String">5</entry>
<entry key="atakDisableSoftkeyIllumination" class="class java.lang.Boolean">true</entry>
<entry key="dynamicReportingRateMinReliable" class="class java.lang.String">20</entry>
<entry key="lastViewedLayer.autoselect" class="class java.lang.Boolean">false</entry>
<entry key="status_mapmode_heading_locked" class="class java.lang.Boolean">false</entry>
<entry key="route_vibrate_at_checkpoint" class="class java.lang.Boolean">false</entry>
<entry key="network_multicast_loopback" class="class java.lang.Boolean">false</entry>
<entry key="dispatchLocationCotExternal" class="class java.lang.Boolean">true</entry>
<entry key="plugin.version.loaded.Quick Chat" class="class java.lang.String">1568048424</entry>
<entry key="contact.connector.default.ANDROID-352802103750280" class="class java.lang.String">connector.geochat</entry>
<entry key="dynamicReportingRateStationaryUnreliable" class="class java.lang.String">120</entry>
<entry key="Mobile-visibility.type6" class="class java.lang.String">NRL DRG</entry>
<entry key="dynamicReportingRateStationaryReliable" class="class java.lang.String">180</entry>
<entry key="Mobile-visibility.type5" class="class java.lang.String">NRL FAA Sectionals</entry>
<entry key="Mobile-visibility.type4" class="class java.lang.String">NGA Most Current</entry>
<entry key="Mobile-visibility.type3" class="class java.lang.String">NRL NAIP (CONUS)</entry>
<entry key="waveServer" class="class java.lang.String">{{ waveserver }}</entry>
<entry key="Mobile-visibility.type9" class="class java.lang.String">NRL FAA Terminal Area Chart</entry>
<entry key="Mobile-visibility.type8" class="class java.lang.String">USGSImageryTopo</entry>
<entry key="Mobile-visibility.type7" class="class java.lang.String">NGA Least Cloud Cover</entry>
<entry key="atak.hint.tak.hint.logging.metric" class="class java.lang.Boolean">false</entry>
<entry key="contact.connector.lastused.ANDROID-357810080828925connector.voip" class="class java.lang.Long">1573961082460</entry>
<entry key="Mobile-visibility.type2" class="class java.lang.String">USGSImageryOnly</entry>
<entry key="Mobile-visibility.type1" class="class java.lang.String">NOAA_RNC on RNC_NOAA_RNC</entry>
<entry key="fade_notification" class="class java.lang.String">90</entry>
<entry key="Mobile-visibility.type0" class="class java.lang.String">NGA Most Aesthetic</entry>
<entry key="waypointOffRouteBubble.Watercraft" class="class java.lang.String">100</entry>
<entry key="largeActionBar" class="class java.lang.Boolean">false</entry>
<entry key="default_route_travel_type" class="class java.lang.String">1</entry>
<entry key="apiSecureServerPort" class="class java.lang.String">8443</entry>
<entry key="show_self_coordinate_overlay" class="class java.lang.Boolean">true</entry>
<entry key="saSipAddressAssignment" class="class java.lang.String">Manual Entry</entry>
<entry key="gpxImportCheckpointsForNamedRoutePoints" class="class java.lang.Boolean">true</entry>
<entry key="waveForwardLocations" class="class java.lang.Boolean">true</entry>
<entry key="atak.hint.track.details" class="class java.lang.Boolean">false</entry>
<entry key="atak.hint.imagery.display" class="class java.lang.Boolean">false</entry>
<entry key="doghouseShowNorthReference" class="class java.lang.Boolean">true</entry>
<entry key="contact.connector.default.ANDROID-357810080828925" class="class java.lang.String">connector.xmpp</entry>
<entry key="atak.hint.mobile.display" class="class java.lang.Boolean">false</entry>
<entry key="atakUpdateServerUrl" class="class java.lang.String">{{ atak_updater_url | default(omit) }}</entry>
<entry key="toggle_log_tracks" class="class java.lang.Boolean">true</entry>
<entry key="contact.connector.lastused.ANDROID-357810080828925connector.xmpp" class="class java.lang.Long">1573962206003</entry>
<entry key="map_scale_visible" class="class java.lang.Boolean">true</entry>
<entry key="enableNonStreamingConnections" class="class java.lang.Boolean">true</entry>
<entry key="firesNumberOfSpis" class="class java.lang.String">1</entry>
<entry key="track_history_default_color" class="class java.lang.String">-16711681</entry>
<entry key="overlay_manager_width_height" class="class java.lang.String">33</entry>
<entry key="AgreedToEULA" class="class java.lang.Boolean">true</entry>
<entry key="groupAdapterByDate" class="class java.lang.Boolean">false</entry>
<entry key="locationUnitType" class="class java.lang.String">a-f-G-U-C</entry>
<entry key="lastCoTTypeSet" class="class java.lang.String">a-u-G</entry>
<entry key="apiCertEnrollmentKeyLength" class="class java.lang.String">4096</entry>
<entry key="waveDebugLogging" class="class java.lang.Boolean">false</entry>
<entry key="screenViewLat" class="class java.lang.String">35.14613645262516</entry>
<entry key="monitorServerConnections" class="class java.lang.Boolean">true</entry>
<entry key="spiFahSize" class="class java.lang.String">30</entry>
<entry key="{C16B0C6A-21FB-4F61-A021-A79E8A98AA17}.wave.active.channel" class="class java.lang.String">11</entry>
<entry key="grgs.outlines-visible" class="class java.lang.Boolean">false</entry>
<entry key="takchatUseCustomHost" class="class java.lang.Boolean">true</entry>
<entry key="takchatAllowFileTransfer" class="class java.lang.Boolean">false</entry>
<entry key="overhead.selected.group" class="class java.lang.String">Automobiles</entry>
<entry key="shouldLoad-com.atakmap.android.takchat.plugin" class="class java.lang.Boolean">true</entry>
<entry key="datasyncDisplayRemovalPrompt" class="class java.lang.Boolean">false</entry>
<entry key="saXmppUsername" class="class java.lang.String">{{ item.0 }}@{{ takchat_server }}</entry>
<entry key="vehicle.selected.group" class="class java.lang.String">Default</entry>
<entry key="route_last_selected_color" class="class java.lang.Integer">-16711936</entry>
<entry key="contact.connector.lastused.ANDROID-358512072017652connector.xmpp" class="class java.lang.Long">1576625411921</entry>
<entry key="lastIconsetPath" class="class java.lang.String">COT_MAPPING_2525B/a-u/a-u-G</entry>
<entry key="atakRoleType" class="class java.lang.String">Team Member</entry>
<entry key="native-type-coverage-visible0" class="class java.lang.Boolean">false</entry>
<entry key="native-type-coverage-visible1" class="class java.lang.Boolean">false</entry>
<entry key="contact.connector.default.ANDROID-358512072017975" class="class java.lang.String">connector.xmpp</entry>
<entry key="shouldLoad-com.atakmap.android.datasync.plugin" class="class java.lang.Boolean">true</entry>
<entry key="locationReportingStrategy" class="class java.lang.String">Dynamic</entry>
<entry key="takchatUseTakServerTrustStore" class="class java.lang.Boolean">false</entry>
<entry key="kmlExportGroundClamp" class="class java.lang.Boolean">false</entry>
<entry key="faux_nav_bar_reverse" class="class java.lang.Boolean">false</entry>
<entry key="atak.hint.actionbar.display" class="class java.lang.Boolean">false</entry>
<entry key="waypointBubble.Watercraft" class="class java.lang.String">100</entry>
<entry key="contact.connector.lastused.ANDROID-352802103750280connector.geochat" class="class java.lang.Long">1573863298173</entry>
<entry key="legacy_settings" class="class java.lang.Boolean">false</entry>
<entry key="core_sessionid" class="class java.lang.String">c6bcf39a-4441-4e98-a7b7-f4ff5ee5ac9f</entry>
<entry key="contact.connector.lastused.ANDROID-358512072020649connector.xmpp" class="class java.lang.Long">1576686980318</entry>
<entry key="constantReportingRateUnreliable" class="class java.lang.String">3</entry>
</preference>
</preferences>
