#jinja2: lstrip_blocks:"True",trim_blocks:"True"
[Interface]
Address = {{ vpn_server_network }}.1/32, {{ vpn_server_network_ipv6 }}:1/64
SaveConfig = true
ListenPort = {{ vpn_port }}
PrivateKey = {{ private_key_files.results[0].stdout }}

PostUp = sysctl -w net.ipv4.ip_forward=1
PostUp = iptables -A FORWARD -i {{ server }} -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
PostDown = iptables -D FORWARD -i {{ server }} -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE



{# PostUp = firewall-cmd --direct --add-rule ipv4 nat POSTROUTING 0 -o {{ ansible_default_ipv4.interface }} -j MASQUERADE; firewall-cmd --direct --add-rule ipv4 filter FORWARD 0 -i {{ vpn_interface }} -o {{ ansible_default_ipv4.interface }} -j ACCEPT; firewall-cmd --direct --add-rule ipv4 filter FORWARD 0 -i {{ ansible_default_ipv4.interface }} -o {{ vpn_interface }} -m state --state; firewall-cmd --direct --add-rule ipv6 nat POSTROUTING 0 -o {{ ansible_default_ipv6.interface }} -j MASQUERADE; firewall-cmd --direct --add-rule ipv6 filter FORWARD 0 -i {{ vpn_interface }} -o {{ ansible_default_ipv6.interface }} -j ACCEPT; firewall-cmd --direct --add-rule ipv6 filter FORWARD 0 -i {{ ansible_default_ipv6.interface }} -o {{ vpn_interface }} -m state --state

PostDown = firewall-cmd --direct --remove-rule ipv4 nat POSTROUTING 0 -o {{ ansible_default_ipv4.interface }} -j MASQUERADE; firewall-cmd --direct --remove-rule ipv4 filter FORWARD 0 -i {{ vpn_interface }} -o {{ ansible_default_ipv4.interface }} -j ACCEPT; firewall-cmd --direct --remove-rule ipv4 filter FORWARD 0 -i {{ ansible_default_ipv4.interface }} -o {{ vpn_interface }} -m state --state RELATED,ESTABLISHED -j ACCEPT; firewall-cmd --direct --remove-rule ipv6 nat POSTROUTING 0 -o {{ ansible_default_ipv6.interface }} -j MASQUERADE; firewall-cmd --direct --remove-rule ipv6 filter FORWARD 0 -i {{ vpn_interface }} -o {{ ansible_default_ipv6.interface }} -j ACCEPT; firewall-cmd --direct --remove-rule ipv6 filter FORWARD 0 -i {{ ansible_default_ipv6.interface }} -o {{ vpn_interface }} -m state --state RELATED,ESTABLISHED -j ACCEPT

 #}

PostUp = echo "$(date +%s) WireGuard Started" >> /var/log/wireguard.log
PreDown = echo "$(date +%s) WireGuard Going Down" >> /var/log/wireguard.log
PostDown = echo "$(date +%s) WireGuard Stopped" >> /var/log/wireguard.log
